.slide .code-snippet {
  width: 620px;
  float: right;
  margin: 100px;
}


/*------------------------------------------------------------------*\
    $TRANSFORM
\*------------------------------------------------------------------*/

.slide .menu-container {
  width: 325px;
  background-color: #f5f5f5;
  margin: 30px 0 0 -25px;
}

.slide .demo-menu-title {
  width: 100%;
  background-color: #ec4f43;
  color: #FFF;
  font: 200 25px/55px "HelveticaNeue-Light", sans-serif;
  text-indent: 20px;
  position: static;
  padding: 0;
}

.slide h2.demo-menu-subtitle {
  width: 100%;
  background-color: #000;
  color: #FFF;
  font-family: "HelveticaNeue-Light", sans-serif;
  line-height: 40px;
  font-size: 18px;
  text-indent: 20px;
  border-bottom: 0;
  font-weight: 200;
}

.slide ul.demo-menu-links {
  padding: 0;
  margin: 0;
  width: 100%;
}

.slide ul.demo-menu-links li {
  border-bottom: 1px solid #c4c4c4;
  line-height: 58px;
  list-style: none;
  padding: 0;
  color: #929090;
  font-size: 18px;
  font-family: "HelveticaNeue-Light", sans-serif;
}

.slide ul.demo-menu-links li:last-child {
  border-bottom: 0;
}

.slide ul.demo-menu-links li .demo-menu-link {
  text-decoration: none;
  color: #929090;
  display: block;
  width: 100%;
  background: url(../../img/demos/menu-off.png) no-repeat  20px;
  text-indent: 50px;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.slide .menu-container li .demo-menu-link:hover {
  text-decoration: none!important;
  background: url(../../img/demos/menu-on.png) no-repeat  20px #009083;
  color: #FFF!important;
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
          transform: scale(1.1);
}



/*------------------------------------------------------------------*\
    $ANIMATION
\*------------------------------------------------------------------*/
.slide .demo-animation-container {
  margin: -20px 0 0 -40px;
  width: 100%;
}

.slide .demo-animation {
  margin-right: 15px;
  margin-top: 40px!important;
  height: 570px;
  width: 23.5%;
  float: right;
  position: relative;
}

.slide .demo-home-title {
  width: 180px;
  height: 463px;
  position: absolute;
  z-index: 20;
  top: 120px;
  left: 50px;
  -webkit-transform: scale(.8);
}

.rain-container {
  background: #0ba2d3;
}

.cloudy-container {
  background: #e4f6a4;
}

.sunny-container {
  background: #fae003;
  -webkit-animation: sunny-bg 2s linear infinite;
}

@-webkit-keyframes sunny-bg {
  0% {background: #fae003;}
  50% {background: #fff600;}
  100% {background: #fae003;}
}


.storm-container {
  background: #aa2363;
}

.rain-title {
  background: url(../../img/demos/hipo-home-rain.png) no-repeat;
}

.cloud-title {
  background: url(../../img/demos/hipo-home-cloud.png) no-repeat;
}

.sunny-title {
  background: url(../../img/demos/hipo-home-sunny.png) no-repeat;
}

.storm-title {
  background: url(../../img/demos/hipo-home-storm.png) no-repeat;
}

.storm-icon {
  background: url(../../img/demos/storm.png) no-repeat;
  position: absolute;
  z-index: 30;
  top: 30px;
  right: 30px;
  width: 132px;
  height: 132px;
  -webkit-animation: storm-cloud 1s linear infinite;
}

@-webkit-keyframes storm-cloud {
  0%{-webkit-transform: scale(1);}
  50%{-webkit-transform: scale(1.1);}
  0%{-webkit-transform: scale(1);}
}

.rain-pattern {
  width: 100%;
  height: 100%;
    background-image: url('../../img/demos/rain.png'), url('../../img/demos/rain2.png');
    -webkit-animation: rain 3s linear infinite;
}

@-webkit-keyframes rain {
  0% {background-position: 0 0;}
  100% {background-position: 0 1500px, 0 600px;}
}

.cloudy-pattern {
  width: 100%;
  height: 100%;
    background-image: url('../../img/demos/cloud.png'), url('../../img/demos/cloud2.png');
    -webkit-animation: cloud 8s linear infinite;
}

@-webkit-keyframes cloud {
  0% {background-position: 0 0;}
  100% {background-position: 500px 0, 300px 0;}
}

.sunny-animation {
  width: 110px;
  height: 110px;
  background-image: url('../../img/demos/sun.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 145px;
  -webkit-animation: sunny 2s linear infinite;
}

@-webkit-keyframes sunny {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}

.storm-pattern {
  width: 100%;
  height: 100%;
  background-color: #f9d2e4;
  -webkit-animation: storm 2s linear infinite;
}

@-webkit-keyframes storm {
  0% {opacity: 0}
  5% {opacity: .5}
  10% {opacity: .2}
  15% {opacity: .5}
  20% {opacity: 0}
  100% {opacity: 0;}
}


/*----------------------------*\
  $TRANSITION
\*----------------------------*/
.deck-container.demos {
  width: 100%;
}

.deck-container .demo-transition-container {
  background: #000;
  padding: 45px 35px;
  float: left;
  margin: 20px 0 0 30px;
}

.deck-container .demo-bt-back,
.deck-container .demo-bt-next {
  background: url(../../img/demos/sprite-arrows.png);
  width: 23px;
  height: 40px;
  display: inline-block;
}

.deck-container .demo-bt-back {
  background-position: 0 0;
  margin-right: 40px;
  position: relative;
  bottom: 110px;
}

.deck-container .demo-bt-back:hover {
  background-position: 0 -40px;
}

.deck-container .demo-bt-next {
  background-position: -31px 0;
  position: relative;
  bottom: 110px;
}

.deck-container .demo-bt-next:hover {
  background-position: -31px -40px;
}

.deck-container .demo-photo-slide {
  width: 100%;
  margin: 0;
}

.deck-container .demo-photo-slide li {
  display: inline-block;
  margin-right: 35px;
  margin-bottom: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

/*PIC02*/

.deck-container .demo-photo-slide li .caption-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 50;
}

.deck-container .demo-photo-slide li .bg-demo-caption {
  background-color: rgba(0,0,0,.7);
  padding: 15px;
  color: #FFF;
  font-size: .8em;
  font-weight: 400;
  position: absolute;
  bottom: -70px;
  width: 88%;
  -webkit-transition: all .2s ease-out;
     -moz-transition: all .2s ease-out;
          transition: all .2s ease-out;
}

.deck-container .demo-photo-slide li .caption-cont:hover .bg-demo-caption {
  bottom: 0;
}


.deck-container .demo-photo-slide li .caption-cont .bg-demo-caption strong {
  color: #FFF;
  font-size: .8em;
  font-weight: normal;
}

.deck-container .demo-photo-slide li .caption-cont .bg-demo-caption .date {
  font-weight: 200;
  font-size: 0.7em;
  color: #FFF;
  display: block;
  line-height: 20px;
}

/*PIC03*/
.deck-container .demo-photo-slide li .fav-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 50;
}

.deck-container .demo-photo-slide li .fav-cont .heart {
  background: url(../../img/demos/heart.png) no-repeat;
  width: 128px;
  height: 111px;
  position: relative;
  top: 65px;
  left: 65px;
  color: #FFF;
  text-align: center;
  line-height: 105px;
  font-size: 25px;
  opacity: 0;
  -webkit-transition: all .2s cubic-bezier(.1,.6,.5,1.55);
     -moz-transition: all .2s cubic-bezier(.1,.6,.5,1.55);
          transition: all .2s cubic-bezier(.1,.6,.5,1.55);

  -webkit-transform: scale(0);
     -moz-transform: scale(0);
          transform: scale(0);
} 

.deck-container .demo-photo-slide li .fav-cont:hover .heart {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
          transform: scale(1);
}

/*PIC04*/


.deck-container .demo-photo-slide li.caption-cont {
  overflow: visible;
  -webkit-perspective: 1300px;
}

.deck-container .demo-photo-slide li.caption-cont img {
  width: 100%;
  display: block;
  -webkit-transition: 0.5s;
}

.deck-container .demo-photo-slide li.caption-cont figcaption {
  position: absolute;
  width: 210px;
  height: 210px;
  top: 0;
  left: 0;
  background: #E8155C;
  padding: 20px;
  color: #FFF;
  font-weight: 200;
  font-size: 12px;
  line-height: 16px;
  -webkit-transition: 500ms;
  -webkit-transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
}

.deck-container .demo-photo-slide li.caption-cont figcaption h3 {
  font-size: 28px;
  margin: 60px 0 20px;
}

.deck-container .demo-photo-slide li.caption-cont:hover figcaption {
  -webkit-transform: rotateY(360deg);
}

.deck-container .demo-photo-slide li.caption-cont:hover img {
  -webkit-transform: rotateY(180deg);
}











